.form {
    background: black;
    color: white;
    display: inline-block;
    padding: 50px;
    font-size: 20px;
    border-radius: 10px;
}
input{
    width: 250px;
    height: 22px;
    border-radius: 10px;
}
div {
    padding-top: 15px;
}

h4 {
    margin: 0;
}
input[type="submit"] {
    width: 80px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    background: black;
    color: white;
}
input[type="radio"] {
    width: 15px;
}
input#submit{
    width: auto; im !important

}
h4#forget-password{
    margin-top: 20px;
}
a {
    color: aqua;
}